<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @room.rules %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Images:</strong>
  <%= image_tag(@room.images_url) %><br/><br/>
</p>binding
  <%= @room.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @room.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @room.city_id %>
</p>

 <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    
    src="https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch('API_KEY') %>&q='<%=@room.address%>'">
   </iframe>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
